extends layout

block content

  h1 ZOOMojis, learn about us.
  .topnav
    button#memojisButton memojis
    button#beccaButton Becca
    button#bridgetButton Bridget
    button#lilyButton Lily
    button#domButton Dom 
    button#zoomButton Zoom
    button#quizButton Quiz
    script(src='javascripts/client.js')
  .main
    h1 Hello #{name}
    p #{about}
    img(src='images/Bridgmoji.jpg',style='width:500px')

    form(action="/",method="POST")
        button(type="submit" style="color:red")#likeBridget LIKE <3
