extends layout

block content

  h1 ZOOMojis, learn about us.
  .topnav
    button#allButton All
    button#beccaButton Becca
    button#bridgetButton Bridget
    button#lilyButton Lily
    button#domButton Dom 
    button#zoomButton Zoom
    button#quizButton Quiz
    script(src='javascripts/client.js')
  .main
    img(src='images/Becmoji.jpg', alt='Image', width='400', height='400')
    img(src='images/Bridgmoji.jpg', alt='Image', width='400', height='400')
    img(src='images/Domoji.jpg', alt='Image', width='400', height='400')
    img(src='images/Lilmoji.jpg', alt='Image', width='400', height='400')
